<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>aelsi.ddns.us</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <h1>Welcome to Amir's experimental website</h1>
    
    {% if auth['rank'] == 'ADMIN' %}
    
    <h2>Welcome to the ADMIN panel</h2>
    
    <h3>List of registered users</h3>
    <table border=1>
    <thead>
        <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Account created</th>
        <th>Last seen</th>
        <th>Validated</th>
        <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for user in admin_data['users'] %}
        <tr>
            {% for attr in user %}
                <th>{{ attr }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
    
    
    
    
    
    
    
    
    
    
    {% else %}
    
    You are not an administrator.
    
    {% endif %}
    

</body>

<footer>
<a href="/">Back</a> 
</footer>

</html>