<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>aelsi.net</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>

<body>
<div class="flex-container">
    
    <!--HEADER-->
    <header>
        <h1>{{content['title']}}</h1>
    </header>
    <!--END HEADER-->

    <!--MAIN-->
    <article class="article">
        {% if auth['rank'] == 'ADMIN' %}
    
        <h2>Welcome to the administrator panel</h2>
        
        <h3>Blog management</h3>
        <form action="submit_blog" method="post">
            <textarea name="blog_data" cols="80" rows="20"></textarea><br>
            <input type="submit" value="Submit">
            <input type="reset">
        </form>
        
        
        
        <h3>List of registered users</h3>
        <table border=1>
        <thead>
            <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Account created</th>
            <th>Last seen</th>
            <th>Last IP</th>
            <th>Validated</th>
            <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in admin_data['users'] %}
            <tr>
                {% for attr in user %}
                    <th>{{ attr }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        
        You are not an administrator.
        
        {% endif %}

    </article>
    <!--END MAIN-->
    
    <!--NAV-->
    <nav class="nav">
        <a href="/">Back</a> 
    </nav>
    <!--END NAV-->
    
    <!--FOOTER-->
    <footer>
    Server time: {{ content['time'] }}
    Render time: {{ content['render_time'] }}
    </footer>
    <!--END FOOTER-->
    
</div>
</body>

</html>