<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>aelsi.ddns.us</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <h1>Welcome to Amir's personal website</h1>
    
    <form action="login" method="post">
        Username:
        <input type="text" name="username" required>
        Password:
        <input type="password" name="password" required>
        <input type="submit" value="Log in">
    </form>
    
    <form action="register" method="post">
        Username:
        <input type="text" name="username" required>
        Password:
        <input type="password" name="password" required>
        Email:
        <input type="email" name="email" required>
        <input type="submit" value="Register">
    </form>
    

</body>

<footer>
Server time: {{time}}
</footer>

</html>