<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>aelsi.ddns.us</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
<div class="flex-container">
    <header>
        <h1 class="neattitle">Welcome to Amir's experimental website</h1>
    </header>

    <article class="article">
        <p>Here is a paragraph</p>
        <p>And another</p>
        {% if auth %}
            <h2>Welcome {{auth['username']}}, you're logged in!</h2>
            <p>That is all I have for you now.</p>
        {% endif %}
    </article>

    <nav class="nav">
        {% if auth['rank'] == 'ADMIN' %}
            <a href="/admin">Administration</a> 
        {% endif %}
        
        {% if auth %}
            <form action="logoff" method="post">
                <input type="submit" value="Log off">
            </form>    
        {% endif %}
        
        {% if not auth %}
            <h4>Log in</h4>
            <form action="login" method="post">
                Username:
                <input type="text" name="username" required><br>
                Password:
                <input type="password" name="password" required><br>
                <input type="checkbox" name="remember"> Remember me
                <input type="submit" value="Log in">
            </form>
            <h4>Register</h4>
            <form action="register" method="post">
                Username:
                <input type="text" name="username" required><br>
                Password:
                <input type="password" name="password" required><br>
                Email:
                <input type="email" name="email" required><br>
                <input type="submit" value="Register">
            </form>
        {% endif %}
    </nav>
</div>
</body>

<footer>
Server time: {{time}}
</footer>

</html>