<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>aelsi.ddns.us</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <h1>Welcome to Amir's experimental website</h1>
    
    {% if auth %}
    
    <h2>Welcome {{auth}}, you're logged in!</h2>
    
    <p>That is all I have for you now.</p>
    
    
    
    <form action="logoff" method="post">
        <input type="submit" value="Log off">
    </form>
    
    {% else %}
  
    <form action="login" method="post">
        Username:
        <input type="text" name="username" required>
        Password:
        <input type="password" name="password" required>
        <input type="submit" value="Log in">
    </form>
    
    <form action="register" method="post">
        Username:
        <input type="text" name="username" required>
        Password:
        <input type="password" name="password" required>
        Email:
        <input type="email" name="email" required>
        <input type="submit" value="Register">
    </form>
    
    {% endif %}

</body>

<footer>
Server time: {{time}}
</footer>

</html>