<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <title>aelsi.net</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
<table>
<thead>
    <tr>
    <th col>Registration successful</th>
    </tr>
</thead>
<tbody>
    <tr>
    <th>Username</th>
    <th>{{ username }}</th>
    </tr>
    <tr>
    <th>Email</th>
    <th>{{ email }}</th>
    </tr>
</tbody>
</table>

<p>Return to the home page to log in.</p>

</body>

<footer>
<a href="/">Back</a> 
</footer>

</html>